{% extends "base.html" %}
{% block content %}

{% load widget_tweaks %}
<section id="content" class="table-layout">
    <div class="chute chute-center" style="height: 762px;">
        <div class="allcp-form theme-primary mw1000 center-block pb175">
            <div class="panel panel-primary">
                <form class=""  method="POST" enctype='multipart/form-data' novalidate="novalidate">{% csrf_token %}
                    <div class="panel-heading">
                        <div class="panel-title">
                            Detalle de Proveedor
                        </div>
                    </div> 
                        <div class="section row">
                            <div class="col-md-6 ph15">
                                <label for="firstname" class="field prepend-icon">
                                    <input type="text" name="firstname" id="firstname" class="gui-input" placeholder="First name..." value="{{proveedor.codigo}}">
                                    <label for="firstname" class="field-icon">
                                        <i class="fa fa-user"></i>
                                    </label>
                                </label>
                            </div>
                            <div class="col-md-6 ph15">
                                <label for="firstname" class="field prepend-icon">
                                    <input type="text" name="firstname" id="firstname" class="gui-input" placeholder="First name..." value="{{proveedor.nombre}}">
                                    <label for="firstname" class="field-icon">
                                        <i class="fa fa-user"></i>
                                    </label>
                                </label>
                            </div>

                        </div>


                        <div class="panel-footer text-right">
                            <a href="/listar_proveed" class="btn btn-bordered btn-primary mb5">Volver  Atras</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>


{% endblock content %}


