{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <link rel="stylesheet" href="">
  <style>
    body {   font-family: Candara,Calibri,Segoe,Segoe UI,Optima,Arial,sans-serif; }
   .center-text{
    text-align:center;
   }
   .text-size{
    font-size: 12px;

   }
  table.bottomBorder { 
    border-collapse: collapse; 
    }
   
  table.bottomBorder th { 
    border-bottom: 1px solid black; 
    border-top: 1px solid black; 
    padding:5px; 
    }

  table.bottomBorder tbody tr:last-child { 
    border-top: 1px solid black; 
  
    }
  

  </style>
</head>
<body>








<section id="content">
          <table>
              
                <tr style="border:none;">
                  <td width="30%">
                  
                    <b style="font-size: 12px;">CASA DE CAMPO</b> <br>
                   
                  </td>
                  <td class="" width="50%">
                    <b style="font-size: 12px;">COMPROBANTE DE INGRESO {{comprobantetxt}}</b> <br>
                    <b style="font-size: 12px;">FACTURA {{factura}}</b> 
                  </td>
                  <td class=" text-size">
                    <b>{{tipodcompra|capfirst}}</b>
                  </td>
                  
                </tr>
              
          </table>
          <table style="padding-top: 5px;">
                <tr style="border:none;">
                  <td class="text-size">
                  <br>
                  <b>Fecha: {{fecha|date:"SHORT_DATE_FORMAT"}}</b><br>
                  <b>{{proveedor.nombre}}</b> <br>
                  
                  </td>
                  <td></td>
                  <td class="text-size center-text">
                    <b>Grupo: {{grupo}}</b> 
                  </td>
                  

                </tr>
          </table>
          <br>

          <table  class="text-size bottomBorder" >
          <thead>
            <tr  >
              <th>CODIGO</th>
              <th>
                CANTIDAD
              </th>
              <th data-field="item">DESCRIPCION</th>
              <th data-field="item">UNIDAD</th>
              <th>Pr. COSTO</th>
              <th>TOTAL</th>
            </tr>
          </thead>
          <tbody>
            {%  for d in detalle %}
              
              <tr style="text-align:center; padding: 5px;">
                <td width="10%">
                  {{d.codigo}}
                </td>
                <td width="25%">
                  {{d.cantidad}}
                </td>
                <td width="25%">{{d.descripcion}}</td>
                <td width="10%">{{d.unidad}}</td>
                <td>{{d.pr_costo}}</td>
                <td>{% widthratio d.cantidad 1 d.pr_costo %}</td>
              </tr>
              
            {% endfor %}


            <tr style="text-align:center;">
              <td colspan="4" class="white"></td>

              <td ><br><b>Total:</b></td>
              <td class="" id="sum-subtotal"><br>{{total}}</td>
            </tr>
          </tbody>
          </table>




      
</section>



</body>
</html>
