{% extends "base.html" %}

{% block content %}
<style>
  .tipo-compra{
    position: relative;
    vertical-align: top;
    border: 1px solid #DDD;
    display: -moz-inline-stack;
    display: inline-block;
    color: #626262;
    outline: none;
    width: 100%;
    padding: 10px;
    border-radius: 3px;
    line-height: 1.8;
  }
  .casilla-productos{
    position: relative;
    vertical-align: top;
    border: 1px solid #DDD;
    display: -moz-inline-stack;
    display: inline-block;
    color: #626262;
    outline: none;
    width: 100%;
    padding: 10px;
    border-radius: 3px;
    background-color: #fafafa;
    
  }
 /* .bloquet{
    display: block;
  }
  .bodytable{
    height: 220px;
    overflow-y: scroll;
    overflow-x: hidden; 
    position: relative;
  }
  .with-cell{
    width: 10%;
  }*/
  .prueba{
    background-color: #958BD4 !important;
    color: white;
  }
  .dataTables_wrapper select, .dataTables_wrapper input {
    font-size: 12px;
    height: 30px;
    padding: 5px 10px;
    border-radius: 3px;
    display: inline;
    border: 1px solid #d8dde5;
  }
  .dataTables_wrapper input {
    width: 200px;
  }
  .dataTables_length, .dataTables_filter {
    padding: 15px;
  }

  .columna_id{
    display: none;
  }
  .color_button{
    background-color: red;
    color: red;
  }
  .well2 {
    min-height: 20px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f4f7f9;
    border: 1px solid #e5eaee;
    border-radius: 3px;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .well3 {
    min-height: 20px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f4f7f9;
    border: 1px solid #e5eaee;
    border-radius: 3px;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .digits .well2 {
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    font-size: 1em;
    width: 50px;

  }
  .result, .clear {
    text-align: right;
    font-weight: bold;
    font-size: 1em;
  }
  .clear {
    text-align: center;
    cursor: pointer;
    font-weight: bold;
  }
  .use {
    text-align: center;
    cursor: pointer;
    font-weight: bold;
  }
  .cerrar-calculadora {
    text-align: center;
    cursor: pointer;
    font-weight: bold;
  }
  #mensaje{
    font-size: 30px;
    color: red;
    text-align: center;
    
  }
  #mensaje2{
    font-size: 30px;
    color: #08F70A;
    text-align: center;
  }
  /*button:focus {color:red !important;}*/
</style>
<section id="content" class="">

            <div class="panel invoice-panel">
                <div class="panel-heading">
                    <span class="panel-title">Compra de articulos</span>
                    
                    <div class="panel-header-menu pull-right mr10">
                    <div class="mensaje">
                   
                    </div>
                        
                    </div>
                </div>
                <div class="panel-body p20" id="invoice-item">

                  
                    <div class="allcp-form">
                      <form  id="encabezado">
                      <div class="row mb10">
                        <div class="col-md-3 ph10 mb5">
                          
                          <label for="username" class="field-label">Comprob.</label>
                          <label for="comprobante" class="field ">
                              <input type="text" name="comprobantetxt" id="comprobantetxt" class="gui-input" placeholder="Comprobante..." value="">
                               <input type="hidden" name="comprobante" id="comprobante" class="gui-input" placeholder="Comprobante..." value="{{comprobante}}">
                               <input type="hidden" name="pk_comprobante" id="pk_comprobante" class="gui-input">
                              
                          </label>
                        </div>
                        <div class="col-md-3 ph10 mb5">
                            <label for="username" class="field-label">Proveedor</label>
                            <label for="proveedor" class="field ">
                                <input type="text" name="proveedor" id="proveedor" class="gui-input" placeholder="codigo">

                                <input type="hidden" id="pk_proveedor">
                            </label>
                        </div>
                        <div class="col-md-3 ph10 mb5">
                            <label for="username" class="field-label">Grupo</label>
                            <label for="grupo" class="field">
                                <input type="text" name="grupo" id="grupo" class="gui-input" placeholder="grupo">
                                
                            </label>
                        </div>
                        <div class="col-md-3 ph10 mb5">
                            <label for="username" class="field-label">Fecha</label>
                            <label for="fecha" class="field">
                               <input type="text" id="datepicker1" name="fecha" class="gui-input" placeholder="fecha">
                                
                            </label>

                        </div>
                      </div>
                      <div class="row mb10">
                        <div class="col-md-3 ph10 mb5">
                            <label for="username" class="field-label">Factura</label>
                            <label for="factura" class="field ">
                                <input type="text" name="factura" id="factura" class="gui-input" placeholder="factura...">
            
                            </label>
                        </div>

                        <div class="col-md-4 ph10 mb5">
                            <label for="username" class="field-label">Nombre</label>
                            <label for="nombre" class="field ">
                                <input type="text" name="nombre" id="nombre" class="gui-input" placeholder="Last name...">
            
                            </label>
                        </div>
                        <div class="col-md-5 ph10 mb5">
                          <div class="tipo-compra">
                            
                            <div class="bs-options">
                            <div class="bs-component">
                              <div class="radio-custom radio-primary mb10">
                                <input type="radio" id="radioExample1" name="tipodcompra" checked="" value="credito">
                                <label for="radioExample1">Credito</label>
                              </div>
                            </div>
                            <div class="bs-component">
                              <div class="radio-custom radio-primary">
                                <input type="radio" id="radioExample2" name="tipodcompra" value="contado">
                                <label for="radioExample2">Contado</label>
                              </div>
                            </div>
                            </div>
                            <div class="bs-options">
                            <div class="bs-component">
                              <div class="radio-custom radio-primary mb10">
                                <input type="radio" id="radioExample3" name="tipodcompra2" checked="" value="reg_simplf">
                                <label for="radioExample3">Reg Simplif</label>
                              </div>
                            </div>
                            <div class="bs-component">
                              <div class="radio-custom radio-primary">
                                <input type="radio" id="radioExample4" name="tipodcompra2" value="retencion">
                                <label for="radioExample4">Retencion</label>
                              </div>
                            </div>
                            <div class="bs-component">
                              <div class="radio-custom radio-primary">
                                <input type="radio" id="radioExample5" name="tipodcompra2" value="otros">
                                <label for="radioExample5">Otros</label>
                              </div>
                            </div>
                            </div>
                           
                              <div id="mensaje">
                                ddddddd
                              </div>
                               <div id="mensaje2">
                                ddddddd
                              </div>
                           
                            
                          </div>
                          
                        </div>
                      </div>
                      </form>
                        
                        
                        <div class="casilla-productos">
                          <div class="col-md-2 ph10 mb5">
                              <label for="username" class="field-label">Codigo</label>
                              <label for="lastname" class="field ">
                                  <input type="text" name="codigo" id="add_buscar_item" class="gui-input" placeholder="Codigo">
                                  <input type="hidden" id="pk">
              
                              </label>
                          </div>
                          <div class="col-md-2 ph10 mb5">
                              <label for="username" class="field-label">Unidad</label>
                              <label for="unidad" class="field ">
                                  <input type="text" name="unidad" id="unidad" class="gui-input" placeholder="Unidad">
              
                              </label>
                          </div>
                          <div class="col-md-4 ph10 mb5">
                              <label for="username" class="field-label">Descripcion</label>
                              <label for="descripcion" class="field ">
                                  <input type="text" name="descripcion" id="descripcion" class="gui-input" placeholder="Descripcion...">
              
                              </label>
                          </div>
                          <div class="col-md-2 ph10 mb5">
                              <label for="username" class="field-label">Cantid.</label>
                              <label for="cantidad" class="field ">
                                  <input type="text" name="cantidad" id="cantidad" class="gui-input" placeholder="Cantid.">
              
                              </label>
                          </div>
                          <div class="col-md-2 ph10 mb5">
                              <label for="username" class="field-label ">Presio Cost.</label>
                              <label for="pr_costo" class="field ">
                                  <input type="text" name="pr_costo" id="pr_costo" class="gui-input agregar_item" placeholder="Presio Cost.">
              
                              </label>
                          </div>
                         
                        </div>


                        
                    
                    <hr class="short alt">           
                    <div class="row" id="invoice-table">
                        <div class="col-md-12">
                            <table class="table table-hover" id="tb-detalle">
                                <thead>
                                <tr class="primary">
                                    <th >Codigo</th>
                                    <th>Unidad</th>
                                    <th >Descripcion</th>
                                    <th >Cantidad</th>
                                    <th >Pr.Costo</th>
                                    <th >Total</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                
                                 <tr>
                                    <td colspan="4" class="white"></td>
                                    <td class="cyan white-text">Total:</td>
                                    <td class="cyan white-text" id="sum-subtotal">0.00</td>
                                    <td></td>
                                  </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row" id="invoice-table">
                        <div class="col-md-12">
                            

                           
                            <div class="clearfix"></div>
                            <form method="POST">
                              
                              <div class="basic-invoice-buttons">
                              <a  onclick="deleteAll();" class="btn btn-warning  mb5 reporte"><i class="fa fa-minus-square fa-2x pr5"></i>Limpiar/Nuevo</a>
                                  <a onclick="Imprimir();" class="btn btn-system  mb5 reporte" id="imprimir" disabled>
                                      <i class="fa fa-print fa-2x pr5"></i> Imprimir</a>

                                  
                                      <input id="proceso" name="proceso" type="hidden" />
                                      <!--  <button class="btn btn-primary mb5" id="save"  name="action"><i class="fa fa-floppy-o pr5"></i> Terminar
                                        </button> -->
                                        <a  class="btn btn-primary mb5 reporte" onclick="onEnviar();"><i class="fa fa-floppy-o fa-2x pr5"></i> Terminar</a>  
                                        <a  onclick="bottonEliminar();" class="btn btn-danger  mb5 " id="elimnar-compra" disabled><i class="fa fa-trash-o fa-2x pr5"></i>Eliminar</a>   
                                         <a  class="btn btn-dark mb5 reporte" onclick="Calculadora();"><i class="fa fa-calculator fa-2x pr5" ></i> Calculadora</a>              
                                  
                              </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>

            

            <div id="modal-text" class="popup-basic bg-none mfp-with-anim mfp-hide">

                <div class="panel">
                    <div class="panel-heading">
              <span class="panel-icon">
                <i class="fa fa-pencil"></i>
              </span>
                        <span class="panel-title"> Proveedor</span>
                    </div>
                    <div class="panel-body">
                        <h3 class="mt5"> Proveedor Nuevo</h3>

                        
                    </div>
                    <div class="panel-footer text-right">
                        
                        <button data-value="si"  class="btn btn-success proveedor_confirm" type="button" id="si_compra" >Si</button>
                        <button data-value="no" class="btn btn-danger proveedor_confirm" type="button">No</button>
                    </div>
                </div>
            </div>

            <div id="modal-delete" class="popup-basic bg-none mfp-with-anim mfp-hide">

                <div class="panel">
                    <div class="panel-heading">
              <span class="panel-icon">
                <i class="fa fa-pencil"></i>
              </span>
                        <span class="panel-title"> Compra</span>
                    </div>
                    <div class="panel-body">
                        <h3 class="mt5"> Esta seguro en eliminar la compra</h3>

                        
                    </div>
                    <div class="panel-footer text-right">
                        
                        <button data-value="si"  class="btn btn-success eliminar_confirm" type="button" id="si_eliminar" >Si</button>
                        <button data-value="no" class="btn btn-danger eliminar_confirm" type="button">No</button>
                    </div>
                </div>
            </div>

            <div id="modal-calculadora" class="popup-basic bg-none mfp-with-anim mfp-hide">

                <div class="panel">
                    <div class="panel-heading">
              <span class="panel-icon">
                <i class="fa fa-pencil"></i>
              </span>
                        <span class="panel-title"> Calculadora</span>
                    </div>
                    <div class="panel-body">
                       <div id="calculator">
                        <div class="row">
                          
                          <div class="col-sm-12">
                            <div class="well2 result">
                              0
                            </div>
                          </div>

                          <div class="digits">
                            <div class="col-sm-2"><div class="well2 digit">7</div></div>
                            <div class="col-xs-2"><div class="well2 digit">8</div></div>
                            <div class="col-xs-2"><div class="well2 digit">9</div></div>
                            <div class="col-xs-2"><div class="well2 digit">+</div></div>
                            <div class="col-sm-4">
                               <div class="well3 use">
                                Usar
                               </div>
                            </div>
                            
                            <div class="col-xs-2"><div class="well2 digit">4</div></div>
                            <div class="col-xs-2"><div class="well2 digit">5</div></div>
                            <div class="col-xs-2"><div class="well2 digit">6</div></div>
                            <div class="col-xs-2"><div class="well2 digit">-</div></div>
                            <div class="col-sm-4">
                               <div class="well3 cerrar-calculadora">
                                Cerrar
                               </div>
                            </div>
                            
                            <div class="col-xs-2"><div class="well2 digit">1</div></div>
                            <div class="col-xs-2"><div class="well2 digit">2</div></div>
                            <div class="col-xs-2"><div class="well2 digit">3</div></div>
                            <div class="col-xs-2"><div class="well2 digit">&times;</div></div>
                            <div class="col-sm-4">
                               <div class="well3 clear">
                                Borrar
                               </div>
                            </div>
                            
                            <div class="col-xs-2"><div class="well2 digit">0</div></div>
                            <div class="col-xs-2"><div class="well2 digit">.</div></div>
                            <div class="col-xs-2"><div class="well2 digit">=</div></div>
                            <div class="col-xs-2"><div class="well2 digit">&divide;</div></div>
                          </div>
                        <div>
                      </div>

                        
                    </div>
                   
                </div>
            </div>

            <div id="modal-item" class="popup-basic bg-none mfp-with-anim mfp-hide">

                <div class="panel">
                    <div class="panel-heading">
                      <span class="panel-icon">
                        <i class="fa fa-pencil"></i>
                      </span>
                      <span class="panel-title">Articulo</span>
                    </div>
                    <div class="panel-body">
                        <h3 class="mt5"> Articulo Nuevo</h3>

                        
                    </div>
                    <div class="panel-footer text-right">
                        <button data-value="si" id="si_item" class="btn btn-success item_confirm" type="button" >Si</button>
                        <button data-value="no" class="btn btn-danger item_confirm" type="button">No</button>
                        
                    </div>
                </div>
            </div>


            <div id="proveedor-lista" class="popup-basic bg-none mfp-with-anim mfp-hide">

                <div class="panel">
                    <div class="panel-heading">
              <span class="panel-icon">
                <i class="fa fa-pencil"></i>
              </span>
                        <span class="panel-title"> Lista Proveedores </span>
                    </div>
                    <div class="panel-body">
                        <h3 class="mt5"> Proveedor Nuevo</h3>
                     
                        <div class="table-responsive">
                          <table class="table" id="tb-proveedores">
                              <thead class="bloquet">
                              <tr class="primary">
                                  <th data-type="filter" class="with-cell">pk</th>
                                  <th data-type="filter" class="with-cell">Codigo</th>
                                  <th data-type="filter" class="with-cell">Nombre</th>
                              </tr>
                              </thead>
                              <tbody class="bloquet bodytable">
                              
                              </tbody>
                          </table>
                        </div>

                        
                    </div>
                    <div class="panel-footer text-right">
                        
                        
                    </div>
                </div>
            </div>


            <div id="item-lista" class="popup-basic bg-none mfp-with-anim mfp-hide">

                <div class="panel">
                    <div class="panel-heading">
              <span class="panel-icon">
                <i class="fa fa-pencil"></i>
              </span>
                        <span class="panel-title"> Lista Item </span>
                    </div>
                    <div class="panel-body">
                        <h3 class="mt5"> Proveedor Nuevo</h3>
                     
                        <div class="table-responsive">
                          <table class="table" id="tb-item">
                              <thead class="bloquet">
                              <tr class="primary">
                                  <th data-type="filter" class="with-cell">pk</th>
                                  <th data-type="filter" class="with-cell">Codigo</th>
                                  <th data-type="filter" class="with-cell">Descripcion</th>
                                  <th data-type="filter" class="with-cell">Unidad</th>
                                  <th data-type="filter" class="with-cell">pr_costo</th>

                              </tr>
                              </thead>
                              <tbody class="bloquet bodytable">
                              
                              </tbody>
                          </table>
                        </div>

                        
                    </div>
                    <div class="panel-footer text-right">
                        
                        
                    </div>
                </div>
            </div>



            

            <!-- -------------- Proveedor Form Popup -------------- -->
            <div id="proveedor-nuevo"  class=" popup-basic allcp-form mfp-with-anim mfp-hide">
                <div class="panel">
                    <div class="panel-heading">
              <span class="panel-title">
                <i class="fa fa-rocket"></i>Proveedor</span>
                    </div>
                    <!-- -------------- /Panel Heading -------------- -->

                    <form method="post" id="formproveedor">
                        <div class="panel-body  ph15">
                            <div class="section row">
                                <div class="col-md-6 ph15">
                                    <label for="codigo" class="field prepend-icon">
                                        <input type="text" name="codigo" id="codigo" class="gui-input"
                                               placeholder="Codigo...">
                                        <label for="codigo" class="field-icon">
                                            <i class="fa fa-user"></i>
                                        </label>
                                    </label>
                                </div>
                                <!-- -------------- /section -------------- -->

                                <div class="col-md-6 ph15">
                                    <label for="nombre" class="field prepend-icon">
                                        <input type="text" name="nombre" id="nombre_proveedor" class="gui-input"
                                               placeholder="Nombre...">
                                        <label for="nombre" class="field-icon">
                                            <i class="fa fa-user"></i>
                                        </label>
                                    </label>
                                </div>
                                <!-- -------------- /section -------------- -->

                            </div>
                        </div>
                        <!-- -------------- /Form -------------- -->

                        <div class="panel-footer">
                            <button type="button" id="register-proveedor" class="button btn-primary">Guardar proveedor</button>
                        </div>
                        <!-- -------------- /Panel Footer -------------- -->
                    </form>
                </div>
                
            </div>

             <!-- -------------- Item Form Popup -------------- -->
            <div id="item-nuevo"  class=" popup-basic allcp-form mfp-with-anim mfp-hide">
                <div class="panel">
                    <div class="panel-heading">
              <span class="panel-title">
                <i class="fa fa-rocket"></i>Articulo</span>
                    </div>
                    <!-- -------------- /Panel Heading -------------- -->

                    <form method="post" id="formitem">
                        <div class="panel-body  ph15">
                            <div class="section row">
                                <div class="col-md-6 ph15">
                                    <label for="codigo_item" class="field prepend-icon">
                                        <input type="text" name="codigo_item" id="codigo_item" class="gui-input"
                                               placeholder="Codigo...">
                                        <label for="codigo_item" class="field-icon">
                                            <i class="fa fa-user"></i>
                                        </label>
                                    </label>
                                </div>
                                <!-- -------------- /section -------------- -->

                                <div class="col-md-6 ph15">
                                    <label for="descripcion_item" class="field prepend-icon">
                                        <input type="text" name="descripcion_item" id="descripcion_item" class="gui-input"
                                               placeholder="Descripcion...">
                                        <label for="descripcion_item" class="field-icon">
                                            <i class="fa fa-user"></i>
                                        </label>
                                    </label>
                                </div>
                                <!-- -------------- /section -------------- -->

                            </div>
                            <!-- -------------- /Section -------------- -->

                            <div class="section row">
                                <div class="col-md-6 ph15">
                                    <label for="unidad_item" class="field prepend-icon">
                                        <input type="text" name="unidad_item" id="unidad_item" class="gui-input"
                                               placeholder="Unidad">
                                        <label for="unidad_item" class="field-icon">
                                            <i class="fa fa-envelope"></i>
                                        </label>
                                    </label>
                                </div>
                                

                                <div class="col-md-6 ph15">
                                    <label for="cantidad_item" class="field prepend-icon">
                                        <input type="text" name="cantidad_item" id="cantidad_item" class="gui-input"
                                               placeholder="Cantidad...">
                                        <label for="cantidad_item" class="field-icon">
                                            <i class="fa fa-globe"></i>
                                        </label>
                                    </label>
                                </div>
                            </div>
                            <div class="section row">
                                <div class="col-md-6 ph15">
                                    <label for="pr_costo_item" class="field prepend-icon">
                                        <input type="text" name="pr_costo_item" id="pr_costo_item" class="gui-input"
                                               placeholder="Precio costo">
                                        <label for="pr_costo_item" class="field-icon">
                                            <i class="fa fa-envelope"></i>
                                        </label>
                                    </label>
                                </div>
                            </div>
                            

                        </div>
                        <!-- -------------- /Form -------------- -->

                        <div class="panel-footer">
                            <button type="button" id="register-item" class="button btn-primary">Guardar articulo</button>
                        </div>
                        <!-- -------------- /Panel Footer -------------- -->
                    </form>
                </div>
                
            </div>


        </section>
{% endblock content %}
{% block js %}
  {% load staticfiles %}
   <!-- <script src="{% static "js/dsj-script.js"%}"></script> -->
  <link rel="stylesheet" href="{% static "dataTables/css/jquery.dataTables.css"%}">
  <link rel="stylesheet" href="{% static "dataTables/css/scroller.dataTables.css"%}">
  <!-- <link rel="stylesheet" href="{% static "dataTables/css/keyTable.dataTables.css"%}"> -->

  <script src="{% static "dataTables/js/jquery.dataTables.js"%}"></script>
  <script src="{% static "dataTables/js/fnFilterClear.js"%}"></script>
  <script src="{% static "dataTables/js/fnReloadAjax.js"%}"></script>
  <script src="{% static "dataTables/js/dataTables.scroller.js"%}"></script>
  <script src="{% static "dataTables/js/dataTables.keyTable.js"%}"></script>
  
  <script src="{% static "js/keynavigator.js"%}"></script>
  <script src="{% static "js/table-edits.min.js"%}"></script>
  
  <script src="{% static "js/compras/compras.js"%}"></script>
  <script>
  $( "#datepicker1" ).datepicker({ dateFormat: 'dd/mm/yy' });
  </script>
  <script>
  var comp = $('#comprobante').val();
  var comptxt = comp.toString();
  var lencomp = comptxt.length;
  while(lencomp < 8){
    comptxt = '0'.concat(comptxt);
    lencomp = lencomp+1;
  } 
  $('#comprobantetxt').val(comptxt);
  $('#factura').val(0);

  window.onbeforeunload = function() {
    localStorage.setItem(proveedor, $('#proveedor').val());
    localStorage.setItem(grupo, $('#grupo').val());
    localStorage.setItem(factura, $('#factura').val());
   
  }

  
  </script>
    
{% endblock js %}

