{% extends "base.html" %}
{% block content %}

{% load widget_tweaks %}
<section id="content" class="table-layout">
    <div class="chute chute-center" style="height: 930px;">
        <div class="panel" id="spy5">
            <div class="panel-heading">
        <a href="/crearitem" class="btn btn-bordered btn-primary mb5">Agregar</a>
                <span class="panel-title">Lista Item</span>
                <div class="pull-right hidden-xs">
                    <code class="mr20"></code>
                </div>

            </div>
            <div class="panel-body pn">
                <div class="table-responsive">
                    <div class="table-responsive">
                        <div class="bs-component">
                            <table class="table table-bordered mbn">
                                <thead>
                                    <tr>
                                        <th>codigo</th>
                                        <th>unidad</th>
                                        <th>descripcion</th>
                                        <th>cantidad</th>
                                        <th>pr_costo</th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for it in item %}
                                    <tr>
                                        <td>{{ it.codigo}}</td>
                                        <td>{{ it.unidad}}</td>
                                        <td>{{ it.descripcion}}</td>
                                        <td>{{ it.cantidad}}</td>
                                        <td>{{ it.pr_costo}}</td>
                                    <td>
                                        <a class="btn btn-info" class="btn btn-system btn-alt btn-block" data-effect="mfp-flipInY" href="/detalle_item/{{it.id}}"><i class="fa fa-eye"></i></a>
                                    </td>
                                 
                                    <td>
                                        <a class="btn btn-alert" href="/edit_item/{{it.id}}"><i class="fa fa-edit"></i></a>
                                    </td>
                                   

                                    <td>
                                        <a class="btn btn-danger" href="#" data-toggle="modal" data-target="#modalDel{{it.id}}"><i class="fa fa-trash-o text"></i></a>
                                        <!-- Modal -->
                                        <div class="modal fade" id="modalDel{{it.id}}" tabindex="-1"ole="dialog" aria-labelledby="myModalLabel">
                                            <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                <h4 class="modal-title" id="myModalLabel">Eliminar Item</h4>
                                            </div>
                                            <h3><div class="modal-body">
                                                <p class="img-dashboard">Esta seguro que quiere eliminar "{{it.nombres}}"</p>
                                            </div></h3>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>

                                                <a href="/delete_item/{{it.id}}" class="btn btn-primary">Eliminar</a>
                                            </div>
                                            </div>
                                            </div>
                                        </div>
                                    </td>
                                    
                                    </tr>
                                    {% endfor %}   
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

<!-- Modal -->
        <div class="modal fade" id="myModalHorizontal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <form method="post" action="/" id="comment">{% csrf_token %} 
                            <div class="panel-body  ph15">
                                <div class="section row">
                                    <div class="col-md-6 ph15">
                                        <label for="firstname" class="field prepend-icon">
                                            <input type="text" name="firstname" id="firstname" class="gui-input" placeholder="First name...">
                                            <label for="firstname" class="field-icon">
                                                <i class="fa fa-user"></i>
                                            </label>
                                        </label>
                                    </div>
                                    <!-- -------------- /section -------------- -->
                                    <div class="col-md-6 ph15">
                                        <label for="lastname" class="field prepend-icon">
                                            <input type="text"  type="text" value="{{item.codigo}}">
                                            <label for="lastname" class="field-icon">
                                               
                                            </label>
                                        </label>
                                    </div>
                                    <!-- -------------- /section................................................................... -------------- -->

                                </div>
                                <!-- -------------- /Section -------------- -->

                                <div class="section row">
                                    <div class="col-md-6 ph15">
                                        <label for="email" class="field prepend-icon">
                                            <input type="email" name="email" id="email" class="gui-input" placeholder="Email address">
                                            <label for="email" class="field-icon">
                                                
                                            </label>
                                        </label>
                                    </div>
                                    <!-- -------------- /section -------------- -->

                                    <div class="col-md-6 ph15">
                                        <label for="website" class="field-icon">
                                            <input type="url" name="website" id="lastname" class="gui-input" placeholder="Website url...">
                                            <label >
                                                <i class="fa fa-globe"></i>
                                            </label>
                                        </label>
                                    </div>
                                </div>

                            </div>
                            <!-- -------------- /Form -------------- -->

                            <div class="modal-footer">
                                <button type="button" class="btn btn-default"
                                data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Save changes</button>
                            </div>
                    
                        </form>
                    </div>
                </div>
            </div>
        </div>
<!-- Modal Footer -->


        <div class="modal fade" id="myModalNorm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel"> Modal detalle</h4>
                    </div>

                <!-- Modal Body -->
                    <form method="post" action="/" id="comment">{% csrf_token %} 
                        <div class="panel-body  ph15">
                            <div class="section row">
                                <div class="col-md-6 ph15">
                                    <label for="firstname" class="field prepend-icon">
                                        <input type="text" name="firstname" id="firstname" class="gui-input" placeholder="First name...">
                                        <label for="firstname" class="field-icon">
                                           
                                        </label>
                                    </label>
                                </div>
                                <!-- -------------- /section -------------- -->

                                <div class="col-md-6 ph15">
                                    <label for="lastname" class="field prepend-icon">
                                        <input  type="text" value="{{item.codigo}}">
                                        <label for="lastname" class="field-icon"></label>
                                    </label>
                                </div>
                                <!-- -------------...............................................................- /section -------------- -->

                            </div>
                            <!-- -------------- /Section -------------- -->

                            <div class="section row">
                                <div class="col-md-6 ph15">
                                    <label for="email" class="field prepend-icon">
                                        <input type="email" name="email" id="email" class="gui-input" placeholder="Email address">
                                        <label for="email" class="field-icon">
                                     
                                        </label>
                                    </label>
                                </div>
                                <!-- -------------- /section -------------- -->

                                <div class="col-md-6 ph15">
                                    <label for="website" class="field prepend-icon">
                                        <input type="url" name="website" id="lastname" class="gui-input" placeholder="Website url...">
                                        <label for="website" class="field-icon">
                                            
                                        </label>
                                    </label>
                                </div>
                                <div class="col-md-6 ph15">
                                    <label for="website" class="field prepend-icon">
                                        <input type="url" name="website" id="lastname" class="gui-input" placeholder="Website url...">
                                        <label for="website" class="field-icon">
                                            
                                        </label>
                                    </label>
                                </div>
                                <!-- -------------- /section -------------- -->

                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal" >Cancelar</button>
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
<!--endModal -->
<!-- Post Info -->
<div style='position:fixed;bottom:0;left:0; background:lightgray;width:100%;'>
    About this SO Question:
    <a href='http://stackoverflow.com/q/26562900/1366033'>
        Twitter Bootstap - form in Modal fomatting
    </a><br/>
    Fork This Skeleton Here: 
    <a href='http://jsfiddle.net/KyleMit/kcpma/'>
        Bootstrap 3 Skeleton
    </a><br/>
</div>

    </div>
</section>
{% endblock content %}